body {
    width: 1100px;
    margin: 0 auto;
}
#boxVideos {
    display: flex;
    margin:30px auto 0;
    justify-content: space-between;
}
#boxVideos .video {
    width: 50%;
    text-align: center;
    background: #333;
    border: solid 1px #fff;
}
video {
    background: #ddd;
}
h1 {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    text-align: center;
}
h2 #idPeer {
    color: red;
}
.rowInput {
    margin: 0 auto;
    text-align: center;
}
.rowInput input {
    padding: 10px;
    min-width: 100px;
    box-sizing: border-box;
}
#boxSignup {
    margin: 0 auto;
    text-align: center;
}
#boxSignup input {
    padding: 10px;
    box-sizing: border-box;
    min-width: 100px;
}
#onlineUsers {
    margin: 30px 0 0;
    padding: 30px;
    box-sizing: border-box;
    border: solid 2px #ddd;
}
#onlineUsers .user {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 5px;
    box-sizing: border-box;
    margin: 0;
    cursor: pointer;
}
#onlineUsers .user:nth-child(odd) {
    background: #ddd;
}
#onlineUsers .user:hover {
    background: #333;
    color: #fff;
}

#btnLogout {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}